/* --------------------------------------------------------
Aspect ratio boxes

version: 1.3.2
last modified: 20.08.2020 by Jonan Steiner
email: jonan.steiner@gmail.com
website: https://bitbucket.org/jsairways/
----------------------------------------------------------*/

/* Aspect_ratio_boxes */
.ar-box-1-1 {
    padding-top: 100% !important;
}
.ar-box-2-1 {
    padding-top: 50% !important;
}
.ar-box-1-2 {
    padding-top: 150% !important;
}
.ar-box-3-1 {
    padding-top: 33.33% !important;
}
.ar-box-1-3 {
    padding-top: 133.33% !important;
}
.ar-box-3-2 {
    padding-top: 66.66% !important;
}
.ar-box-2-3 {
    padding-top: 166.66% !important;
}
.ar-box-4-3 {
    padding-top: 75% !important;
}
.ar-box-3-4 {
    padding-top: 175% !important;
}
.ar-box-8-5 {
    padding-top: 62.5% !important;
}
.ar-box-5-8 {
    padding-top: 162.5% !important;
}
.ar-box-16-9 {
    padding-top: 56.25% !important;
}
.ar-box-9-16 {
    padding-top: 156.25% !important;
}
.ar-box-1-1,
.ar-box-2-1,
.ar-box-1-2,
.ar-box-3-1,
.ar-box-1-3,
.ar-box-3-2,
.ar-box-2-3,
.ar-box-4-3,
.ar-box-3-4,
.ar-box-8-5,
.ar-box-5-8,
.ar-box-16-9,
.ar-box-9-16{
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.ar-fill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;   
    object-fit: cover;
}
/* Aspect_ratio_boxes - END */


/* Media_queries */
@media ( min-width: 576px ){
    .ar-box-sm-1-1 {
        padding-top: 100% !important;
    }
    .ar-box-sm-2-1 {
        padding-top: 50% !important;
    }
    .ar-box-sm-1-2 {
        padding-top: 150% !important;
    }
    .ar-box-sm-3-1 {
        padding-top: 33.33% !important;
    }
    .ar-box-sm-1-3 {
        padding-top: 133.33% !important;
    }
    .ar-box-sm-3-2 {
        padding-top: 66.66% !important;
    }
    .ar-box-sm-2-3 {
        padding-top: 166.66% !important;
    }
    .ar-box-sm-4-3 {
        padding-top: 75% !important;
    }
    .ar-box-sm-3-4 {
        padding-top: 175% !important;
    }
    .ar-box-sm-8-5 {
        padding-top: 62.5% !important;
    }
    .ar-box-sm-5-8 {
        padding-top: 162.5% !important;
    }
    .ar-box-sm-16-9 {
        padding-top: 56.25% !important;
    }
    .ar-box-sm-9-16 {
        padding-top: 156.25% !important;
    }
    .ar-sm-fill {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
    }
}
@media ( min-width: 768px ){
    .ar-box-md-1-1 {
        padding-top: 100% !important;
    }
    .ar-box-md-2-1 {
        padding-top: 50% !important;
    }
    .ar-box-md-1-2 {
        padding-top: 150% !important;
    }
    .ar-box-md-3-1 {
        padding-top: 33.33% !important;
    }
    .ar-box-md-1-3 {
        padding-top: 133.33% !important;
    }
    .ar-box-md-3-2 {
        padding-top: 66.66% !important;
    }
    .ar-box-md-2-3 {
        padding-top: 166.66% !important;
    }
    .ar-box-md-4-3 {
        padding-top: 75% !important;
    }
    .ar-box-md-3-4 {
        padding-top: 175% !important;
    }
    .ar-box-md-8-5 {
        padding-top: 62.5% !important;
    }
    .ar-box-md-5-8 {
        padding-top: 162.5% !important;
    }
    .ar-box-md-16-9 {
        padding-top: 56.25% !important;
    }
    .ar-box-md-9-16 {
        padding-top: 156.25% !important;
    }
    .ar-md-fill {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
    }
}
@media ( min-width: 992px ){
    .ar-box-lg-1-1 {
        padding-top: 100% !important;
    }
    .ar-box-lg-2-1 {
        padding-top: 50% !important;
    }
    .ar-box-lg-1-2 {
        padding-top: 150% !important;
    }
    .ar-box-lg-3-1 {
        padding-top: 33.33% !important;
    }
    .ar-box-lg-1-3 {
        padding-top: 133.33% !important;
    }
    .ar-box-lg-3-2 {
        padding-top: 66.66% !important;
    }
    .ar-box-lg-2-3 {
        padding-top: 166.66% !important;
    }
    .ar-box-lg-4-3 {
        padding-top: 75% !important;
    }
    .ar-box-lg-3-4 {
        padding-top: 175% !important;
    }
    .ar-box-lg-8-5 {
        padding-top: 62.5% !important;
    }
    .ar-box-lg-5-8 {
        padding-top: 162.5% !important;
    }
    .ar-box-lg-16-9 {
        padding-top: 56.25% !important;
    }
    .ar-box-lg-9-16 {
        padding-top: 156.25% !important;
    }
    .ar-lg-fill {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
    }
}
@media ( min-width: 1200px ){
    .ar-box-xl-1-1 {
        padding-top: 100% !important;
    }
    .ar-box-xl-2-1 {
        padding-top: 50% !important;
    }
    .ar-box-xl-1-2 {
        padding-top: 150% !important;
    }
    .ar-box-xl-3-1 {
        padding-top: 33.33% !important;
    }
    .ar-box-xl-1-3 {
        padding-top: 133.33% !important;
    }
    .ar-box-xl-3-2 {
        padding-top: 66.66% !important;
    }
    .ar-box-xl-2-3 {
        padding-top: 166.66% !important;
    }
    .ar-box-xl-4-3 {
        padding-top: 75% !important;
    }
    .ar-box-xl-3-4 {
        padding-top: 175% !important;
    }
    .ar-box-xl-8-5 {
        padding-top: 62.5% !important;
    }
    .ar-box-xl-5-8 {
        padding-top: 162.5% !important;
    }
    .ar-box-xl-16-9 {
        padding-top: 56.25% !important;
    }
    .ar-box-xl-9-16 {
        padding-top: 156.25% !important;
    }
    .ar-xl-fill {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
    }
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ar-fill,
    .ar-sm-fill,
    .ar-md-fill,
    .ar-lg-fill,
    .ar-xl-fill {
        width: auto;
        height: auto;
    }
}
/* Media_queries - END */